<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="$jnlpspec" codebase="$project.Url" href="$outputFile">
  <information>
    <title>$project.Name</title>
    <vendor>$project.Organization.Name</vendor>
    <homepage href="$project.Url"/>
    <description>$project.Description</description>
    <icon href="images/doogal32.png"/>
    <icon kind="splash" href="images/doogal64.png"/> 
#if($offlineAllowed)
    <offline-allowed/>
#end
  <shortcut online="false">
    <desktop/>
    <menu submenu="$project.Name"/>
  </shortcut>
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <j2se version="$j2seVersion"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
